.select {
  width: 100%;
}
.select-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.ul-stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 1%;
  margin: 0px 5px 0px 5px;
}
.ul-stat li {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 1%;
  margin: 0 0px 0px 0px;
}
.flex:only-child {
  margin: 200px 200px 200px 200px;
}
.flex-bottom {
  padding-top: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.flex-input {
  padding-top: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex li {
  text-align: center;
  display: flex;
  padding-bottom: 0px;
}
.flex button {
  text-align: center;
  display: flex;
  margin-bottom: 20px;
  margin-left: 20px;
}

.myTable {
  display: flex;
  max-width: 900px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

tbody tr:nth-of-type(even) {
  background-color: rgb(245, 245, 245);
}

tbody tr:nth-of-type(odd) {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.v-data-table-header {
  background-color: rgb(105, 106, 172);
}
.v-data-table-header span {
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.v-data-footer {
  background-color: rgb(255, 255, 255);
}
.text-start {
  border: 1px solid grey;
}
navbar {
  border: 1px solid grey;
  background-color: rgb(204, 204, 204);
}

.flex2 {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 150%;
}
.cat {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cat div {
  /* width: 400px; */
  margin: 0px 0px 0px 0px;
}
.cat-item {
  display: flex;
  flex-direction: column;
  /* flex-basis: 200px; */
  width: auto;
  margin: 0px 20px 0px 0px;
  padding: 10px 10px;
}
.cat-item button {
  margin: 10px 0px;
}

.flex-food-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-food {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flex-food > div {
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 350px;
  padding: 0px 20px 20px;
}
